*
{
  margin:0;
  padding:0;
  font-family:'poppins',sans-serif;
}
body
{
  display:flex;
  justify-content :center;
  align-items:center;
  background-color:gray;
  min-height:100vh;
}
.container
{
  height:500px;
  width:850px;
  position:relative;
  background-color:#fff;
  border-radius:30px;
}
.ragister-main
{
  position:absolute;
  width:50%;
  height:100%;
  right:0px;
  border-radius:30px 30px 30px 30px;
  align-items:center;
  display:flex;
  color:#333;
  text-align:center;
  padding:40px;
  z-index: 1;
}
form
{
  width:100%;
}
.container h1
{
  font-size:36px;
  margin:-10px 0;
  font-weight:600;
}
.input-text
{
  position:relative;
  margin:30px 0;
}
.input-text input {
  width:100%;
  padding:13px 50px 13px 20px;
  background:#eee;
  border-radius:8px;
  border:none;
  outline:none;
  font-size:16px;
  color:#333;
  font-weight:500;
}
.container::placeholder
{
  color:#333;
  font-weight:400;
}
.input-text i
{
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  font-size:20px;
  color:#333;
}
.button
{
  width:100%;
  height:48px;
  background-color:#1d2c4d;
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-size:16px;
  color:white;
  font-weight:600;
}

.register-text
{
  position:absolute;
  width:100%;
  height:100%;

}
.register-text-in
{
  position: absolute;
  width:50%;
  height:100%;
  background-color:#1d2c4d;
  border-radius:30px 120px 120px 30px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:#fff;
  left:-12px; 
}
.register-text h1
{
  font-size:36px;
  margin:10px 0;
  font-weight:600;
}
.register-text-in p
{
  margin-bottom:20px;
}
.register-text button
{
  width:160px;
  height:46px;
  background-color:transparent;
  border-style:solid;
  border-radius:2px;
  border-color:#fff;
  color:#fff;
  font-weight:600;
}

